html{
    font-family: 'Kadwa', serif;
}

body{
    color: black;
    margin: 0;
}

section{
    padding: 0.5em;
}

footer{
    background-color: black;
    display: flex;
    justify-content: center;
}


@media (min-width: 768px) {

    main{
        padding: 0em 6em;
    }

    section{
        padding: 6em;
    }

}