body{
    color: black;
    margin: 0;
}

main{
    padding: 0em 6em;
}

li{
    display: block;
}

a{
    text-decoration: none;
    color: black;
}
menu{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

section{
    padding: 2em;
}

menu a{
    color: white;
    border: white solid;
    border-width: 2px;
    padding: 1em;
    margin: 2em;
    border-radius: 2em;
    transition-duration: 0.2s;
}

menu a:hover{
    background-color: white;
    transition-duration: 0.2s;
    color: #507600;
    border-width: 20px;
}

h1{
    text-align: center;
}

header{
    background-color:#507600;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}


.Profile{
    display: flex;
}

.Profile img{
    width: 15em
}

.citate{
    background-color: #DADADA;
    padding: .5em 2em;
    font-family: 'Kadwa', serif;
    font-family: 'Kalam', italic;
    border-radius: 2em;
}

.Citate_name{
    text-align: right;
}

.other_item {
    border: #507600;
    border-radius: 2em;
}