/*Navigation*/
.page{
    color: white;
    border: white solid;
    background-color: #507600;
    border-width: 2px;
    padding: 1em;
    margin: 2em;
    border-radius: 2em;
    transition-duration: 0.2s;
}

.page:hover{
    background-color: white;
    transition-duration: 0.2s;
    color: #507600;
    border-width: 20px;
}


/*Profile part*/
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_caption{
    align-items: center;
    padding: 0em;
    text-align: center;
}

.profile img{
    width: 15em
}


/*tags*/
li{
    display: block;
}

a{
    text-decoration: none;
    color: black;
}
menu{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

img{
    width: 100%;
}

h1{
    text-align: center;
}

header{
    background-color:#507600;
    display: flex;
    justify-content: space-between;
    padding: 0em 2em;
    align-items: center;
}


/*Buttons*/
.button1{
    color: black;
    border: black solid;
    background-color: #507600;
    border-width: 1px;
    padding: 1em;
    margin: 2em;
    border-radius: 2em;
    transition-duration: 0.2s;
}

.button1:hover{
    background-color: white;
    border-color: #507600;
    transition-duration: 0.2s;

}

.button2{
    color: white;
    border: black solid;
    background-color: black;
    border-width: 2px;
    padding: 0em 1em;
    border-radius: 5em;
    transition-duration: 0.2s;
}

.button2:hover{
    transition-duration: 0.2s;
    border-width: 20px;
}

/*Citate text*/
.citate{
    background-color: #DADADA;
    padding: .5em 2em;
    font-family: 'Kalam', italic;
    border-radius: 2em;
}

.citate_name{
    text-align: right;
}


/*Gallery*/
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery_main-image {
    max-width: 100%;
    margin: 20px;
}

.gallery_thumbnails {
    display: flex;
    justify-content: center;
}

.gallery_thumbnails_image {
    margin: 0.3em;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    max-width: 10%;
}

.gallery_thumbnails_image:hover {
    transform: scale(1.1);
}


/*Other Profile part*/
.other{
    gap: 1em;
    border-radius: 2em;
    padding: 0em;
}

.other_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5%;
    background-color: white;
    padding: 5%;
    border-radius: 2em;
    transition: box-shadow 0.2s ease-in-out;
    border: #507600 solid;
}

.other_item:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.other_item img{
    width: 7em;
}

.other_item_description{
    font-family: 'Kalam', italic;
}


@media (min-width: 768px) {

    .profile{
        flex-direction: row;
    }

    .profile_caption{
        text-align: left;
        padding: 2em;
    }

    .gallery_main-image{
        max-width: 80%;
    }

    .other{
        display: grid;
        grid-template-columns: repeat(4, 2fr);
    }
}